.header_principal {
  padding-top: 30px;
  margin-bottom: 100px;
}
.header_principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_principal .container a.Logo {
  display: inline-block;
  max-width: 160px;
}
.header_principal .container .nav_principal {
  margin-right: 80px;
}
.header_principal .container .nav_principal ul {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_principal .container .nav_principal ul a {
  color: rgb(38, 64, 101);
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
}
.header_principal .container .nav_principal ul a:hover {
  color: rgb(169, 214, 203);
}
.header_principal .container .login ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_principal .container .login ul img {
  width: 22px;
  height: 22px;
}
.header_principal .container .login ul img:hover {
  filter: invert(100%);
}
.header_principal .container .login ul a {
  color: rgb(38, 64, 101);
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
}
.header_principal .container .login ul .sign_in {
  text-decoration: underline;
  margin-left: 34px;
  font-size: 14px;
  font-weight: 400;
}
.header_principal .container .login ul .sign_in:hover {
  color: rgb(250, 248, 245);
}
.header_principal .container .login ul .button {
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background-color: rgb(38, 64, 101);
  border-radius: 32px;
  font-size: 14px;
  font-weight: 400;
}
.header_principal .container .login ul .button:hover {
  color: rgb(169, 214, 203);
  background-color: rgb(250, 248, 245);
}

.hero .container {
  display: flex;
}
.hero .container .hero_content .hero_principal {
  width: 600px;
}
.hero .container .hero_content .hero_principal .hero_title {
  color: rgb(38, 64, 101);
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 32px;
}
.hero .container .hero_content .hero_principal .hero_subtitle {
  width: 500px;
  color: rgb(144, 144, 144);
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 45px;
}
.hero .container .hero_content .hero_principal .hero_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 50px;
}
.hero .container .hero_content .hero_principal .hero_list .button {
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  background-color: rgb(38, 64, 101);
  border-radius: 32px;
  font-size: 16px;
}
.hero .container .hero_content .hero_principal .hero_list .button:hover {
  color: rgb(169, 214, 203);
  background-color: rgb(250, 248, 245);
}
.hero .container .hero_content .hero_principal .hero_list .button:hover {
  background-color: rgb(169, 214, 203);
  color: white;
}
.hero .container .hero_content .hero_principal .hero_list .video {
  padding: 10px 20px;
  position: relative;
}
.hero .container .hero_content .hero_principal .hero_list .video img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.hero .container .hero_content .hero_principal .hero_list .video span {
  margin-left: 16px;
  color: rgb(38, 64, 101);
}
.hero .container .hero_content .hero_principal .hero_list .video span:hover {
  color: rgb(169, 214, 203);
  text-decoration: underline;
}
.hero .container .hero_content .hero_principal .hero_list .video::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  z-index: -1;
  position: absolute;
  top: 8px;
  left: 13px;
  box-shadow: 3px 3px 20px -3px rgb(145, 145, 145);
}
.hero .container .hero_content .hero_activities {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 50px;
  background-color: white;
  border-radius: 16px;
}
.hero .container .hero_content .hero_activities .activitie_item {
  justify-items: center;
}
.hero .container .hero_content .hero_activities .activitie_item img {
  width: 55px;
  height: 55px;
  display: block;
}
.hero .container .hero_content .hero_activities .activitie_item span {
  display: block;
}
.hero .container .hero_content .hero_activities .activitie_item .number {
  color: rgb(38, 64, 101);
  font-size: 28px;
  font-weight: 500;
  margin-top: 24px;
}
.hero .container .hero_content .hero_activities .activitie_item .title {
  color: rgb(144, 144, 144);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}
.hero .container .hero_coment {
  position: relative;
  width: 60%;
}
.hero .container .hero_coment .container_coment img {
  width: 21px;
  height: 21px;
}
.hero .container .hero_coment .container_coment .coment-principal {
  color: rgb(242, 49, 49);
  font-size: 16px;
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
body ::after {
  content: "";
  width: 67%;
  height: 85%;
  background-color: rgb(250, 248, 245);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
body ::before {
  content: "";
  width: 33%;
  height: 85%;
  background-color: rgb(169, 214, 203);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  pointer-events: none;
  background-image: url(../../../../assests/spa.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: -90%;
  background-position-y: 40%;
}

* a {
  text-decoration: none;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */