@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.header_blog{
    @include header_style();
    .blog{
        display: none
    }
}

.main_blog{
    @include main_style();
    .blog_hero{
        margin-bottom: 50px;
        .blog_content{
            margin-bottom: 40px;
            title{
            font-size: 20px;
            text-transform: uppercase;
            color: white;
            font-family: $font1;
            margin-bottom: 10px;
            }
            .subtitle{
            font-size: 14px;
            font-family: $font2;
            color: $color-gray;
            font-weight: 600;
            margin-bottom: 10px;
            }
            .second_title{
            font-size: 18px;
            text-transform: uppercase;
            color: $color-sky;
            font-family: $font1;
            margin-bottom: 10px;
            }
            p:nth-of-type(2){
                color: $color-sky;
            }
        }
        article{
            border: 1px solid $color-sky;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 10px;
            .title{
                font-family: $font1;
                color: white;
                text-transform: uppercase;
                font-size: 16px;
            }
            .subtitle{
                color: $color-gray;
                font-size: 14px;
                font-family: $font2;
            }
            .enlace a{
                position: relative;
                display: inline-block;
                text-decoration: none;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                color: white;
                font-family: $font2;
                &:hover{
                    color: $color-sky;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 70%;
                        height: 3px;
                        top: 15px;
                        background-color: $color-sky;
                    }
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 70%;
                    height: 3px;
                    top: 15px;
                    background-color: #B0B0B0;
                }    
            }
        }
    }
    .noticia_content{
        border-radius: 8px;
        border: 1px solid $color-sky;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 10px;
        figure{
            img{
                width: 100px;
                margin-bottom: 10px;
            }
            figcaption{
                font-size: 14px;
                font-family: $font2;
                color: $color-gray;
                font-weight: 600;
                margin-bottom: 10px; 
            }
        }
        title{
            font-size: 20px;
            text-transform: uppercase;
            color: white;
            font-family: $font1;
            margin-bottom: 10px;
        }
        .subtitle{
            font-size: 14px;
            font-family: $font2;
            color: $color-gray;
            font-weight: 600;
            margin-bottom: 10px;
        } 
        .enlace{
            @include enlace();
        }
        iframe.mobile{
            margin-bottom: 10px;
        }
        iframe.tablet{
            display: none
        }
    }

    @include breakpoint(tablet){
        .blog_hero{
            .blog_content{
                .title{
                text-align: center;
                font-size: 25px;
                margin-bottom: 15px;
                }
                .subtitle{
                font-size: 18px;
                text-align: center
                }
                .second_title{
                font-size: 20px;
                text-align: center;
                margin: 30px 0 0 0;
                }
            } 
            .container{
                display: flex;
                gap: 10px;
                .title{
                    font-size: 18px;
                }
                .subtitle{
                    font-size: 16px;
                    margin-bottom: 15px;
                    width: 319px;
                }
                p.enlace{
                    font-size: 16px;
                }
            }
        }
        .noticia_content{
            margin-bottom: 35px;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            padding: 20px;
            .container{
                display: flex;
                flex-direction: row-reverse;
                gap: 25px;
                box-sizing: border-box;
                align-items: center;
                .subtitle{
                    text-align: start;
                }
            }
            figure{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 35px;
                margin-top: 23px;
            }
        }
    }
    
    @include breakpoint(desktop){
        margin-top: 100px;
        .blog_hero{
            .blog_content{
                margin-bottom: 100px;
                .title{
                    font-size: 35px;
                }
                .subtitle{
                    font-size: 22px;
                }
                .second_title{
                    font-size: 27px;
                }
            }
        .container{
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            article{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 700px;
                align-items: center;
                padding: 30px;
                .title{
                    font-size: 25px;
                }
                .subtitle{
                    font-size: 22px;
                    width: 600px;
                }
                .enlace a{
                    font-size: 20px;
                    &::before{
                        top: 25px
                    }
                    &:hover{
                        &::before{
                            top: 25px;
                        }
                    }
                }
            }
        }
        }
        .noticia_content{
            margin-bottom: 35px;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            padding: 20px;
            .container{
                display: flex;
                flex-direction: column-reverse;
                gap: 25px;
                box-sizing: border-box;
                align-items: center;
                .subtitle{
                    text-align: center;
                    font-size: 22px;
                    width: 700px;
                    line-height: 30px;
                }
            }
            figure{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 35px;
                margin-top: 23px;
                figcaption{
                    font-size: 20px;
                }
            }
            .subtitle{
                text-align: center;
                font-size: 22px;
                width: 700px;
                line-height: 30px;
                margin-left:auto;
                margin-right: auto
            }
            a.enlace{
                font-size: 18px;
                &::before{
                    top: 23px;
                }
                &:hover{
                    &::before{
                        top: 23px
                    }
                }
            }
        }
    }
}

.footer_blog{
    @include footer_style();
}