@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.header_cursos{
    @include header_style();
    .cursos{
        display: none;
    }
}

.main_cursos{
    @include main_style();
    margin-bottom: 50px;
    .cursos_content{
        margin-bottom: 25px;
        .title{
            font-family: $font1;
            font-size: 20px;
            color: white;
            text-transform: uppercase;
            margin-bottom: 5px;
            width: 360px;
        }
        .subtitle{
            font-family: $font2;
            font-size: 14px;
            color: $color-gray;
            font-weight: 600;
        }
        figcaption{
            font-family: $font2;
            font-size: 14px;
            color: $color-gray;
            font-weight: 600;  
        }
    }
    .info_cursos{
        h2{
            font-family: $font1;
            font-size: 25px;
            color: $color-green;
            text-transform: uppercase;
            margin-bottom: 10px; 
        }
        article{
            border: 1px solid $color-green;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 15px;
            .title{
                font-family: $font1;
                font-size: 16px;
                color: white;
                text-transform: uppercase;
                margin-bottom: 5px;
                width: 300px;
            }
            .subtitle{
                font-family: $font2;
                font-size: 14px;
                color: $color-gray;
                font-weight: 600;
                .enlace{
                    @include enlace();
                }
            }
            figcaption{
                font-family: $font2;
                font-size: 14px;
                color: $color-gray;
                font-weight: 600;
                margin-bottom: 10px  
            }
        }
    }
    aside p .llamada{
        @include enlace();
    }

    @include breakpoint(tablet){
        margin-bottom: 100px;
        .cursos_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                font-size: 25px;
                width: 525px;
                text-align: center;
            }
            .subtitle{
                font-size: 18px
            }
        }
        .info_cursos{
            .title{
                text-align: center;
                font-size: 25px;
                margin-bottom: 40px
            }
            .cursos_content{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                box-sizing: border-box;
                column-gap: 10px;
                row-gap: 10px;
                max-width: 768px;
                article{
                    box-sizing: border-box;
                    width: auto;
                    height: 280px;
                    .title{
                        width: 250px;
                        margin: 0 0 5px 0;
                        font-size: 18px;
                        text-align: start;
                    }
                    .subtitle{
                        margin: 0 0 10px 0;
                        font-size: 16px;
                        text-align: start;
                    }
                }
            }
        }
        .block_content, .fs_content{
            margin-bottom: 70px;
            .title{
                margin-bottom: 35px;
            }
            .subtitle{
                font-size: 18px;
                line-height: 25px;
                width: 655px;
                margin-bottom: 50px;
            }
            figure{
                width: 370px;
                padding: 20px;
                border: 1px solid $color-gray;
                border-radius: 8px;
            }
        }
        .info_block, .info_fs{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 420px;
                .title{
                    font-size: 18px;
                }
                figure, img{
                    width: 200px;
                    margin-bottom: 10px;
                }
            }
        }
        aside{
            margin-top: 30px;
            margin-left: 180px;
            .llamada{
                font-size: 18px;
            }
        }
    }

    @include breakpoint(desktop){
        margin-top: 70px;
        .cursos_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .title{
                font-size: 40px;
                width: 700px;
            }
            .subtitle{
                font-size: 27px
            }
        }
        .info_cursos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                font-size: 35px;
            }
            .cursos_content{
                max-width: 900px;
                gap: 30px;
                margin-left: auto;
                margin-right: auto;
                article{
                    padding: 20px;
                    .title{
                        font-size: 25px;
                        width: 400px
                    }
                    .subtitle{
                        font-size: 18px;
                    }
                    p .enlace{
                        font-size: 18px;
                    }
                }
            }
        }
        .block_content, .fs_content{
            display: grid;
            grid-template-areas:
            "title img"
            "subtitle img";
            grid-template-columns: auto auto;
            gap: 20px;
            margin-top: 70px;
            box-sizing: border-box;
            margin: 50px 16px;

            h1.title{
                width: max-content;
                grid-area: title;
                margin: auto auto 0 auto;
                font-size: 30px;
            }
            .subtitle{
                grid-area: subtitle;
                font-size: 20px;
                line-height: 30px;
                margin: 0 auto auto auto;
            }
            figure{
                grid-area: img;
                width: auto;
            }
        }
        .info_block, .info_fs{
            .container{
                display: flex;
                gap: 20px;
                article{
                    width: 350px;
                    figure{
                        figcaption{
                            font-size: 14px;
                        }
                    }
                    .subtitle{
                        font-size: 17px
                    }
                }
            }
        }
        aside{
            margin-left: 30px;
        }
    }
}

.footer_cursos{
    @include footer_style();
}