@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer_principal{
    background-color: white;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    figure{
        text-align: center;
        a img{
            width: 127px;
        }
    }
    p{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-family: $font2;
        color: $color-darkgray;
        display: flex;
        flex-direction: column;
        gap: 5px;
        a{
            text-decoration: none;
            position: relative;
            color: $color-darkgray;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            margin-left: 5px;
            &::before{
                position: absolute;
                content: '';
                width: 50px;
                height: 3px;
                background-color: $color-darkgray;
                top: 15px;
            }   
            &:hover{
                color: $color-sky;
                &::before{
                    position: absolute;
                    content: '';
                    width: 50px;
                    height: 3px;
                    background-color: $color-sky;
                    top: 15px;
                }   
            }
        }
    }
    @include breakpoint(tablet){
        display: flex;
        justify-content: space-between;
        flex-direction: inherit;
        padding: 40px 40px;
        align-items: center;
        figure a img{
            width: 200px;
        }
    }

    @include breakpoint(desktop){
        figure a img{
            width: 200px;
        }
    }
}