@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.main_principal{
    margin: 40px 16px 20px 16px;
    .main_content{
        text-align: center;
        .title{
            position: relative;
            font-family: $font1;
            font-size: 27px;
            text-transform: uppercase;
            line-height: 23px;
            text-align: center;
            margin-bottom: 20px;
            color: white;
            &::before{
                position: absolute;
                content: "";
                width: 80px;
                height: 80px;
                border-radius: 100%;
                border: 1px solid $color-green;
                z-index: -1;
                right: 20px;
                top: -20px;
            }
        }
        .subtitle{
            font-family: $font1;
            font-size: 14px;
            line-height: 22px;
            margin-bottom:20px ;
            text-align: center;
            width: 338px;
        }
        .figure{
            figcaption{
                font-family: $font1;
                font-size: 14px;
                text-transform: uppercase;
                color: $color-yellow;
            }
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 200px;
                height: 200px;
                border-radius: 100%;
                border: 2px solid $color-yellow;
                z-index: -1;
                right: 127px;
                top: 52px;
            }
            &::after{
                position: absolute;
                content: "";
                width: 200px;
                height: 200px;
                border-radius: 100%;
                border: 2px solid $color-sky;
                z-index: -1;
                right: 16px;
                top: 109px;
            }
            margin-bottom: 40px;
        }
    }

    .main_hero{
        position: relative;
        .activities{
            padding: 30px 10px;
            border-radius: 10px;
            h2{
                color: white;
                font-family: $font1;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                font-family: $font2;
                text-align: center;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 20px;
            }
            .link_final{
                margin-top: 10px;
                text-align: start;
                line-height: 20px;
                width: 250px;
                a{  
                    text-decoration: none;
                    position: relative;
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: 5px;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 70%;
                        height: 3px;
                        background-color: white;
                        top: 15px;
                    }   
                    &:hover{
                        color: $color-sky;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 70%;
                            height: 3px;
                            background-color: $color-sky;
                            top: 15px;
                        }   
                    }
                }
            }
            article{
                border: 1px solid $color-gray;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                h3{
                    font-family: $font1;
                    color: $color-gray;
                    text-decoration:underline $color-yellow;
                    text-transform: uppercase;
                    margin-bottom: 10px; 
                    font-size: 16px;  
                }
                p{
                    color: $color-gray;
                    margin-bottom: 10px;
                    text-align: start;
                    a{
                        position: relative;
                        text-decoration: none;
                        color: $color-gray;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 800;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 70%;
                            height: 3px;
                            top: 15px;
                            background-color: $color-gray;
                        }   
                        &:hover{
                            color: $color-sky;
                            &::before{
                                position: absolute;
                                content: '';
                                width: 70%;
                                height: 3px;
                                background-color: $color-sky;
                                top: 15px;
                            }   
                        }
                    }
                }
            }
        }
        .activitie1{
            p a{
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                color: white;
                &::before{
                    position: absolute;
                    content: '';
                    width: 50%;
                    height: 3px;
                    background-color: white;
                    top: 15px;
                    left: 20px;
                }
                &:hover{
                    color: $color-sky;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 50%;
                        height: 3px;
                        background-color: $color-sky;
                        top: 15px;
                        left: 20px;
                    }
                }
            }
        }

        &::before{
            opacity: 0.3;
            position: absolute;
            content: "";
            width: 500px;
            height: 500px;
            border-radius: 100%;
            border: 2px solid $color-yellow;
            z-index: -1;
            right: 198px;
            top: 52px;
        }
        &::after{
            opacity: 0.3;
            position: absolute;
            content: "";
            width: 500px;
            height: 500px;
            border-radius: 100%;
            border: 2px solid $color-sky;
            z-index: -1;
            right: -207px;
            top: 658px;
        }
    }

    @include breakpoint(tablet){
        margin: 40px 16px;
        .main_content{
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
            .container{
                .title{
                    font-size: 35px;
                    line-height: 40px;
                    text-align: start;
                    width: 370px;
                    &::before{
                        width: 100px;
                        height: 100px;
                        opacity: 0.3;
                        right: 10px;
                        top: 1px;
                    }
                }
                .subtitle{
                    font-size: 16px;
                    text-align: start;
                    width: 370px;
                    line-height: 25px;
                }
            }
            .figure{
                border: 1px solid $color-gray;
                border-radius: 8px;
                padding: 15px;
                box-sizing: border-box;
                figcaption{
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                img{
                    width: 320px;
                }
                &::before, &::after{
                    opacity: 0;
                }
            }
        }
        .main_hero{
            .activities{
                .title{
                    font-size: 35px;
                }
                .subtitle{
                    font-size: 18px;
                    padding: 0 16px;
                    box-sizing: border-box;
                    margin-bottom: 25px;
                }
                p .enlace{
                    font-size: 18px;
                    &::before{
                        top: 22px;
                        left: 28px;
                    }
                    &:hover{
                        &::before{
                            top: 22px;
                            left: 28px;                            
                        }
                    }
                }
                .link_final{
                    font-size: 18px;
                    width: max-content;
                    margin-top: 30px;
                    a{
                        font-size: 16px;
                        font-weight: 600;
                        color: white;
                        &::before{
                            top: 20px;
                            left: 3px;
                        }
                        &:hover{
                            &::before{
                                top: 20px;
                                left: 3px;   
                            }
                        }
                    }
                }
            }
            .container{
                display: flex;
                justify-content: space-between;
                gap: 15px;
                article{
                    height: 250px;
                    .second_title{
                        color: white;
                        font-size: 18px;
                        margin-bottom: 20px;
                        width: 250px;
                    }
                    .subtitle{
                        padding: 0;
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 30px;
                    }
                    p a{
                        font-size: 16px;
                        font-weight: 600;
                        color: white;
                        &::before{
                            top: 20px;
                            left: 3px;
                        }
                        &:hover{
                            &::before{
                                top: 20px;
                                left: 3px;   
                            }
                        }
                    }
                }
            }
        }
    }

    @include breakpoint(desktop){
        .main_content{
            gap: 50px;
            .container{
                .title{
                    font-size: 50px;
                    width: 550px;
                    line-height: 50px;
                    margin-bottom: 70px;
                }
                .subtitle{
                    font-size: 27px;
                    line-height: 30px;
                    width: 530px;
                }  
            }
            .figure{
                figcaption{
                    font-size: 30px;
                }
                img{
                    width: 500px;
                }        
            } 
        }

        .main_hero{
            .activitie1{
                .title{
                    font-size: 50px;
                }
                .subtitle{
                    font-size: 27px;
                    line-height: 30px;
                }
                p .enlace{
                    font-size: 20px;
                }
            }
            .activitie2, .activitie3{
                .title{
                    font-size: 40px;
                }
                .subtitle{
                    font-size: 27px;
                    margin-bottom: 50px;
                }
                .container{
                    justify-content: center;
                    article{
                        padding: 20px;
                        height: 300px;
                        .second_title{
                            font-size: 25px;
                            width: 300px;
                        }
                        .subtitle{
                            font-size: 20px;
                            width: 470px;
                        }
                        a{
                            font-size: 20px;
                        }
                    }
                }
                .link_final{
                    font-size: 27px;
                    margin-left: 55px;
                    a{
                        font-size: 20px;
                        &::before{
                            top: 23px;
                        }
                        &:hover{
                            &::before{
                                top: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}