//Variables para el responsive first mobile
$bp-tablet : 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440;

//colores
$color-darkgray: (#1E1E1E);
$color-gray: (#B0B0B0);
$color-sky: (#00BFFF);
$color-green:(#32CD32);
$color-yellow:(#FFD700);


//tipografia
$font1: "Poppins", sans-serif;
$font2: "Lato", sans-serif;