@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    background-color: $color-darkgray;
    color: $color-gray;
}

img{
    width: 100%;
}